body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fbf8e4;
  color: #4c312d;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff8f1;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(140, 100, 70, 0.1);
}

h1 {
  text-align: center;
  color: #835C3B;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

input, textarea {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: #835C3B;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #5a3d29;
}
