
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #fbf8e4;
  color: #6d3806;
}

.top-bar{
    background-color: #835C3B;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fbf8e4;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.08);
}

.duvidas-header {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 200px;          
  text-align: center;
}

.duvidas-header h1 {
  margin: 0;            
  font-size: 2em;        
}

.logo {
  flex: 1 1 150px;
  display: flex;
  justify-content: center;
}

.logo img{
    height: 150px;
}

.icons{
  flex: 2 1 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.icons div{
  display: flex;
  font-size: 0.9rem;
  color: #2D4C36;
  text-align: center;
  align-items: center;
}

.icons :has(:hover){
  cursor: pointer;
}

.icons img{
  height: 2rem;
  max-height: 30px;
}


.faq {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.faq section:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.faq section {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.08);
  color : #6d3806;
  min-height: 90px;
  font-size: 1rem;
}

.faq h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.5rem;
}

.footer {
  color: #6d3806;
  text-align: center;
  padding: 1rem;
  position: 1rem;
  bottom: 0;
  width: 100%;
}
