* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to right, #4F6F56, #83B697);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logo-container img {
  width: 3rem; 
  height: auto;
}

.box {
  position: relative; 
  background-color: #fff;
  padding: 3rem 2.5rem 2.5rem 2.5rem; 
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 25rem;
}

form h2 {
  margin-bottom: 24px;
  color: #333;
  text-align: center;
}

.inputBx {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inputBx span {
  margin-bottom: 6px;
  color: #555;
  font-size: 14px;
}

.inputBx input[type="text"],
.inputBx input[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.inputBx input[type="submit"] {
  background-color: #8c5d28e0;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inputBx input[type="submit"]:hover {
  background-color: #8C5D28;
}
