body{
    margin:0;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.top-bar{
    background-color: #835C3B;
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fbf8e4;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.08);
}

.logo {
  flex: 1 1 150px;
  display: flex;
  justify-content: center;
}

.logo img{
    height: 150px;
}

.icons{
  flex: 2 1 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.icons div{
  display: flex;
  font-size: 0.9rem;
  color: #2D4C36;
  text-align: center;
  align-items: center;
}

.icons :has(:hover){
  cursor: pointer;
}

.icons img{
  height: 2rem;
  max-height: 30px;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fffaf2;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(180, 140, 100, 0.1);
}

h1 {
  text-align: center;
  color: #835C3B;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  color: #3a3a3a;
}

.post {
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0d3c2;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

button.btn-comentar {
  background-color: #835C3B;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  margin-top: 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.lista-comentarios {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.lista-comentarios li {
  background-color: #f1e9d9;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}
